@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    background-color:#e5e7eb;
    outline:none;
    width:100%;
}

.title{
    font-size:22px;
}

.body{
    margin-top:1.2rem;
    margin-bottom:1.3rem;

}
.note-container{
    position:relative;
}

.icon-container{
    position:absolute;
    /* margin-top:1rem; */
    bottom:0.5rem;
    right:0.75rem;
}
.open-btn{
    position:absolute;
    padding:2rem;
    top:0;
    margin:0 auto;
    display:flex;
    justify-items:center;
    align-items:center;
    background:gray;
}